# ambiente virtual
env/
venv/
.venv/
**/venv/

# cache Python
**/__pycache__/
*.py[cod]
*.pyo

# vs code
.vscode/

# credenciais
*.env
.env

# sandbox.py
# For quick tests and experiments. Not for production.
sandbox.py